documentation/
package.json
package-lock.json
.eslintrc.json
tsconfig.json
.angular/cache
lint-*
.nx/
.vscode/
dist/
coverage/
.husky/
.angular/
.git/
node_modules/
tsconfig.spec.json
tsconfig.doc.json
tsconfig.app.json
server.ts
angular.json
README.md
src/assets/
src/themes/
src/styles/
src/index.html
