<article class="card">
  <img
    class="card__background"
    [src]="cardConfig()?.imageUrl!"
    [alt]="cardConfig()?.title"
    width="1920"
    height="2193"
  />
  <div class="card__content | flow">
    <div class="card__content--container | flow">
      <h2 class="card__title">{{ cardConfig()?.title }}</h2>
      <p class="card__description">
        {{ cardConfig()?.description }}
      </p>
    </div>
    <button [routerLink]="cardConfig()?.link" class="button card__button">
      {{ cardConfig()?.linkText }}
    </button>
  </div>
</article>
