<div class="sidebar">
  <nav>
    <a
      class="button"
      routerLink="/home"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
      data-testid="learn-greek-link"
    >
      LEARN GREEK
    </a>
    <a
      class="button"
      routerLink="/alphabet"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
      data-testid="alphabet-link"
    >
      ALPHABET
    </a>
    <a
      class="button"
      routerLink="/leaderboard"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
      data-testid="leaderboard-link"
    >
      LEADERBOARD
    </a>
  </nav>
</div>
