$base-blue: #0d5eaf;
$base-light-blue: #25a7d3;
$base-beige: #d7d5a4;
$base-orange: #ecac2d;
$base-red: #d7521a;
$text-white: #fff;
$border-white: #fff;
$text-black: #000;
$background-white: #fff;

@mixin border-white {
  border: 1px solid $border-white;
  border-radius: 1rem;
}

@mixin gentium-plus-regular {
  font-family: 'Gentium Plus', serif;
  font-weight: 400;
  font-style: normal;
}

@mixin gentium-plus-bold {
  font-family: 'Gentium Plus', serif;
  font-weight: 700;
  font-style: normal;
}

.gentium-plus-regular-italic {
  font-family: 'Gentium Plus', serif;
  font-weight: 400;
  font-style: italic;
}

.gentium-plus-bold-italic {
  font-family: 'Gentium Plus', serif;
  font-weight: 700;
  font-style: italic;
}

h1,
h2 {
  @include gentium-plus-bold;
  margin-left: 1rem;
}

p {
  @include gentium-plus-regular;
}

nav {
  width: 100%;
}

.div__page--height {
  height: calc(100% - 54.5px);
  padding-top: 54.5px;
  width: 80%;
  margin: auto;
}
