<div class="div__tool-bar">
  <nav>
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
          Learn Greek
        </a>
      </li>
      <li>
        <a routerLink="/alphabet" routerLinkActive="active" ariaCurrentWhenActive="page">
          Alphabet
        </a>
      </li>
      <li>
        <a routerLink="/leaderboard" routerLinkActive="active" ariaCurrentWhenActive="page">
          Leaderboard
        </a>
      </li>
    </ul>
  </nav>
</div>
